
.main_css {
  width: 100%;
  height: 350px;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  padding-top: 125px;
  text-shadow: 3px 3px 3px black;
  color:azure;
  background-image: url('./background_img.png');
  background-repeat: no-repeat;
  background-size: cover;
};